/* Layout */
nav{
    position: fixed;
    padding: 10px 50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgb(39,57,61); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(39,57,61,1) 0%, rgba(97,135,136,1) 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(39,57,61,1) 0%,rgba(97,135,136,1) 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(39,57,61,1) 0%,rgba(97,135,136,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27393d', endColorstr='#618788',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Print Preview */
@page { 
    size: A4;
    margin: 1cm 2cm;
}
@media screen{
    .sheet.padding-0mm{
        padding: 20mm;
    }
}
@media print{
    nav{
        display: none;
    }
    body {
        -webkit-print-color-adjust: exact !important;
    }
    header{
        display: block !important;
        position: fixed;
        background: #B2FF66 !important;
        top : 0;
        z-index : 1;
        width: 97%;
        height: 2%;
        border-radius: 15px 15px 0px 0px;
    }
    footer {
        background: #B2FF66 !important;
        font-size: 10px;
        position: fixed;
        bottom : 0;
        z-index : 1;
        width: 97%;
        border-radius: 0px 0px 15px 15px;
        display: block !important;
    }
    .watermark{
        display: block !important;
        width: 100%;
        top: 25%;
        left: 0;
        right: 0;
        position: fixed !important;
        opacity: 0.2;
        z-index: 1;
    }
}

/* Layout Section Laporan */
.border-top{
    border-top: 2px solid black !important;
}
.border-bottom{
    border-bottom: 2px solid black !important;
}
.align-mid{
    text-align: center;
}
header, footer, .watermark{
    display: none;
}
thead > tr > td {
    border: none !important;
    text-align: center;
}
thead > tr > th {
    font-size: 16px;
    color: #0066cc;
}
thead > tr > th:hover {
    color: #cc0000;
}
tr td {
    font-size: 12px;
}
.text-kanan {
    text-align: right;
}
h6{
    color: crimson;
}