@media print{
    #noprint{
      display: none;
    }
    *{
        margin: 0!important;
        background: transparent!important;
    }
    @media screen{
      p.bodyText {font-family:verdana, arial, sans-serif;}
    }

    @media print{
      p.bodyText {font-family:georgia, times, serif;}
    }

    @media screen, print{
      p.bodyText {font-size:10pt}
    }

    @page {
      /* untuk menghilangkan header dan footer saat ngeprint */
      margin: 0px auto; 
      size: A4;
    }

    @page :left {
      margin-left: 1cm;
    }

    .unit{
        width: 20%!important;
    }

    @page :right {
      margin-left: 1cm;
    }

    @page:right{ 
      @bottom-left {
        margin: 10pt 0 30pt 0;
        border-top: .25pt solid #666;
        content: "My book";
        font-size: 9pt;
        color: #333;
      }
    }

    h1 { 
      string-set: doctitle content(); 
    }

    @page :right {
      @top-right {
        content: string(doctitle);
        margin: 30pt 0 10pt 0;
        font-size: 8pt;
      }
    }
    body {
        width: 100%;
        counter-reset: chapternum figurenum;
    }

    h1 {
      counter-reset: figurenum;
    }
}
    