#title-ks{
	color:#0A4595!important;
	font-size: 1.2em;
}
.content-page{
	margin-left: 0px;
}

.content-page > .content{
	margin-bottom: 0px;
	margin-top: 0px;
}

.panel-heading{
	background: #0A4595!important;
}