#btn-action{
    font-size: 14px;
    margin-left: 1em;
    border-top: none!important;
    border-right: none!important;
    border-bottom: none!important;
    border-left: none!important;
}

.alert-success{
    background: #00BE4C!important;
    color: antiquewhite!important;
}

.investasi{
    width: 2rem;
    color: white!important;
}

.dokumen {
    margin-bottom: 1rem;
}

.tentang {
    margin-bottom: 1rem;    
}

/* .terkini:nth-child(odd) {
    background: #b1b4bb52;
} */

.terkini {
    padding: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px 12px;
    text-transform: uppercase;
}

.btn, .btn.inverse:hover {
    color: #FFFFFF;
    background-color: #4368B0;
    border-color: #4368B0;
}

/* .img-blog{
    width: 50%;
    position: absolute;
}

.img-blog < .blog-y{
    width: 100%;    
} */
